
@media all and (min-width:1441px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}
@media all and (max-width: 1440px){
    .nft_purchase_card {
        max-width: 700px;
        width: 100%;
        border-radius: 48px;
        border: 1px solid #273A38;
        background: -webkit-linear-gradient(291deg, #1F2D26 35.21%, #0B0F0E 111.91%);
        background: linear-gradient(159deg, #1F2D26 35.21%, #0B0F0E 111.91%);
        padding: 50px;
    }
    .business_text p {
        font-size: 16px;
        line-height: 22px;
        margin: 24px 0px 50px;    
    }
    .advocate_text_area p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 24px;
    }
}
@media all and (max-width:1400px) {
    .nft_purchase_card {
        max-width: 565px;
        width: 100%;
        border-radius: 48px;
        border: 1px solid #273A38;
        background: -webkit-linear-gradient(291deg, #1F2D26 35.21%, #0B0F0E 111.91%);
        background: linear-gradient(159deg, #1F2D26 35.21%, #0B0F0E 111.91%);
        padding: 40px;
    }
    .purchase_amount input {
        font-size: 24px;
        width: 130px;
    }
    .purchase_amount p {
        font-size: 24px;
        width: 250px;
    }
    .purchase_address button {
        border-radius: 24px;
        font-size: 18px;
        padding: 20px 70px;
        margin: 46px 0px;
    }
    .business_right_text {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        margin-top: 50px;
    }
    .tab button {
        font-size: 26px;
        line-height: 40px;
        padding: 20px 50px;
    }
    .carousel__slide {
        width: 700px;
        height: 450px;
        padding: 40px 50px;
        top: -215px;
        left: -630px;
    }
}

@media all and (max-width: 1199px) {
    .hero_content_area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .hero_left_content {
        margin-bottom: 50px;
    }
    .entrend_content_area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .right_entrend_acess {
        padding: 0px 0 200px;
        width: 100%;
    }
    .advocate_content_area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
    }
    .advocate_text_area {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .business_content_area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
    }
    .section_heading p br {
        display: none;
    }
    .carousel__slide {
        width: 700px;
        height: 450px;
        padding: 0px 0px;
        top: 115px;
        left: -340px;
    }
    .hero_images {
        height: 550px;
    }
    .carousel__next {
        top: 650px;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
    }
    .carousel__prev {
        top: 650px;
        right: 15px;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
    }
    .tab button {
        font-size: 22px;
        line-height: 32px;
        padding: 20px 50px;
    }

}


@media all and (max-width: 991px){
    .section_heading p span {
        display: initial;
    }
    .single_why {
        padding: 0 15px 56px 15px; 
        -webkit-box-flex: 0; 
            -ms-flex: 0 0 100%; 
                flex: 0 0 100%;
        text-align: center;
    }
    .single_why_info { 
        margin: 0 auto;
        margin-top: 28px;
    }
    .leverage_right, .levarage_left { 
        padding: 50px 30px; 
    }
    .leverage_main { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
    }
    .title_1 { 
        font-size: 45px; 
    }
    .footer_single {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        text-align: center;
        margin-bottom: 45px;
    }
    .footer_main { 
        -ms-flex-wrap: wrap; 
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer_single p, .footer_list li a { 
        margin-top: 12px; 
    } 
    .carousel__slide {
        width: 650px;
        height: 450px;
        padding: 0px 0px;
        top: 110px;
        left: -275px;
    }
    .carousel__prev {
        right: -65px;
    }
    .carousel__next {
        right: -145px;
    }
    .tab button {
        font-size: 20px;
        line-height: 32px;
        padding: 16px 24px;
    }
    .tab_images {
        max-width: 550px;
        margin: auto;
        padding: 0px 0 25px;
        width: 100%;
        height: 470px;
    }
    .advocate_main_area {
        padding-top: 0;
    }
    .about_entrend_main_area {
        padding: 120px 0 120px;
    }
}


@media all and (max-width: 767px){ 
    .menu ul li a {
        font-size: 16px;
        margin: 0 16px 0 16px;
    }
    .hero_text h1 {
        font-size: 50.771px;
        line-height: 110.7%;
        padding: 16px 0px;
    }
    .hero_text p {
        color: #000;
        font-family: Source Sans Pro;
        font-size: 18.138px;
        font-style: normal;
        font-weight: 400;
        line-height: 150.7%;
        letter-spacing: -0.634px;
        max-width: 500px;
        width: 100%;
        margin-bottom: 35px;
    }
    .entrend_access_main_area {
        padding-top: 0;
    }
    .tab button {
        font-size: 26px;
        line-height: 34px;
        padding: 24px 64px;
        margin-top: 64px;
    }
    .tab_txt p {
        font-size: 20px;
        line-height: 28px;
        max-width: 520px;
        padding: 24px 33px;
    }
    .about_entrend_main_area {
        padding: 120px 0 120px;
    }
    .nft_purchase_title h3 {
        font-size: 32px;
    }
    .nft_purchase_card {
        max-width: 510px;
        width: 100%;
        padding: 40px;
    }
    .advocate_text_area p span {
        display: initial;
    }
    .advocate_text_area {
        margin-top: 0;
        margin: auto;
        width: 90%;
        margin-bottom: 50px;
    }
    .purchase_amount p {
        font-size: 18px;
        width: 200px;
    }
    .purchase_amount p span {
        font-size: 18px;
    }
    .purchase_amount input {
        font-size: 18px;
        width: 110px;
    }
    .business_text p span {
        display: initial;
    }
    .business_right_text {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        margin: auto;
        width: 90%;
        margin-top: 50px;
    }
    .business_main_area {
        padding: 145px 0 150px;
    }
    .nft_purchase_title h3 span {
        font-size: 32px;
    }
    .title_1 {
        font-size: 34px;
        line-height: 43px;
    }
    .copy_footer { 
        padding: 14px 0 20px 0;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
    }
    .section_padding {
        padding: 40px 0;
    }
    .carousel__slide {
        width: 490px;
        height: 375px;
        padding: 0px 0px;
        top: 80px;
        left: -200px;
    }
    .carousel__next {
        top: 530px;
        right: -125px;
    }
    .carousel__prev {
        top: 530px;
        right: -55px;
    }
    .hero_images {
        height: 425px;
    }
    .tab button {
        font-size: 15px;
        line-height: 30px;
        padding: 10px 25px;
        margin-top: 0;
    }
    .tab_items_area .tab {
        padding: 95px 0 35px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }




}

@media all and (max-width: 575px){ 
    .menu ul li a {
        font-size: 16px;
        margin: 0 11px 0 11px;
    }
    .logo img {
        max-width: 105px;
        width: 100%;
    }
    .hero_log img {
        max-width: 110px;
    }
    .hero_text h1 {
        font-size: 40px;
        line-height: 110%;
        padding: 16px 0px;
    }
    .hero_text p {
        font-size: 16px;
        line-height: 150.7%;
        margin-bottom: 25px;
    }
    .hero_button a {
        font-size: 16px;
        line-height: 158.7%;
        padding: 14px 28px 14px;
    }
    .hero_left_content {
        margin: auto;
        width: 90%;
        margin-bottom: 50px;
    }
    .hero_main_area {
        padding: 100px 0;
    }
    .tab button {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 15px;
        margin-top: 0;
        text-align: center;
    }
    .tab_items_area .tab {
        padding: 95px 0 35px;
    }
    .tab_images {
        padding: 0px 0 0px;
    }
    .tab_txt p {
        font-size: 16px;
        line-height: 28px;
        max-width: 90%;
        padding: 24px 33px;
    }
    .right_entrend_acess {
        padding: 0px 0 110px;
    }
    .about_entrend_main_area {
        padding: 100px 0 100px;
    }
    .about_entrend_content {
        width: 90%;
        margin: auto;
    }
    .about_entrend_video iframe {
        height: 310px;
        width: 100%;
    }
    .advocate_main_area {
        padding-top: 50px;
        width: 92%;
        margin: auto;
    }
    .nft_purchase_card {
        max-width: 400px;
        width: 100%;
        padding: 30px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .nft_purchase_title h3, .nft_purchase_title h3 span {
        font-size: 24px;
    }
    .crypto_box button {
        padding: 8px 30px;
        gap: 8px;
        width: 145px;
        height: 45px;
    }
    .purchase_amount p {
        font-size: 16px;
        width: 140px;
    }
    .purchase_amount p span {
        font-size: 16px;
    }
    .purchase_address button {
        border-radius: 24px;
        font-size: 16px;
        padding: 14px 50px;
        margin: 46px 0px;
    }
    .business_main_area {
        padding: 100px 0 100px;
    }
    .business_text a {
        font-size: 16px;
        padding: 16px 24px;
    }

    .leverage_right p, .levarage_left p { 
        font-size: 14px; 
        line-height: 18px; 
    }
    .section_heading p { 
        font-size: 14px; 
        padding-top: 24px;
    }
    .title_1 {
        font-size: 27px;
        line-height: 43px;
    }
    .accordion-button.collapsed { 
        font-size: 16px; 
        line-height: 18px;
    }
    .accordion-button:not(.collapsed) { 
        font-size: 16px; 
    }
    .copy_footer p { 
        font-size: 14px; 
    }
    .footer_single h4 {
        font-size: 18px; 
        line-height: 26px;
    }
    .footer_single p, .footer_list li a { 
        font-size: 14px; 
        line-height: 10px; 
    }
    .footer_single > a { 
        width: 100%;
    }
    .footer_single p { 
        line-height: 20px !important;
    }
    .footer_main {
        margin: 40px 0 13px 0; 
    }
    .tab_items_area {
        background: #515FFF;
    }
    .tab button span {
        display: none;
    }
    .tab button.tablinks.active {
        border-radius: 43.273px;
        background: #6D79FF;
    }
    .carousel__prev {
        top: 460px;
        right: 50%;
    }
    .carousel__slide {
        width: 410px;
        height: 310px;
        padding: 0px 0px;
        top: 80px;
        left: -165px;
    }
    .carousel__next {
        top: 460px;
        right: -125px;
    }
    .user_flow_content {
        display: none;
    }
    .user_flow_title h2 {
        text-transform: uppercase;
    }
    .user_flow_title h2 span {
        background: var(--Linear, linear-gradient(90deg, #6053D9 0%, #9857BD 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Sen;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
    }
    .user_flow_top_title h4 {
        color: #180D5B;
        font-family: Sen;
        font-size: 22.5px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 4.949px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 45px;
    }
    .user_flow_top_title span {
        font-family: Sen;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        background: -webkit-linear-gradient(296deg, #1EBFF8 9.57%, #A38DF8 73.43%);
        background: linear-gradient(154deg, #1EBFF8 9.57%, #A38DF8 73.43%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    .user_flow_txt p {
        color: #000;
        text-align: center;
        font-family: Sen;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        max-width: 320px;
        width: 100%;
        margin: auto;
    }
    .user_flow_top_title  span.user_reward {
        background: -webkit-linear-gradient(296deg, #FA77A4 9.72%, #DBC21A 76.33%);
        background: linear-gradient(154deg, #FA77A4 9.72%, #DBC21A 76.33%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .user_flow_top_title .get_paid_flow {
        background: -webkit-linear-gradient(65deg, #A257F5 9.39%, #DF67FA 71.49%);
        background: linear-gradient(25deg, #A257F5 9.39%, #DF67FA 71.49%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: -webkit-linear-gradient(left, #6053D9 0%, #9857BD 100%);
        background: linear-gradient(90deg, #6053D9 0%, #9857BD 100%);
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 45px;
        height: 10px;
        margin: 20px 7px 0px 7px;
        background: #180D5B;
        display: block;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity .2s ease;
        transition: opacity .2s ease;
        border-radius: 30px;
    }
    .user_flow_main_area {
        padding-bottom: 40px;
    }
    .work_area .section_heading h1{
        display: none;
    }
    .work_area .section_heading h2{
        display: block;
    }
    .work_area .section_heading h2 span {
        background: -webkit-linear-gradient(left, #6053D9 0%, #9857BD 100%);
        background: linear-gradient(90deg, #6053D9 0%, #9857BD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
}

@media all and (max-width: 450px){
    .footer_single {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; 
        margin-bottom: 30px;
    }
    .section_padding {
        padding: 40px 0;
    }
    .menu ul li a {
        font-size: 14px;
        margin: 0 5px 0 5px;
    }
    .hero_main_area {
        padding: 60px 0;
    }
    .tab button {
        font-size: 16px;
        line-height: 20px;
    }

    .tab_txt p {
        font-size: 14px;
        line-height: 20px;
        max-width: 90%;
        padding: 18px 20px 40px;
    }
    .about_entrend_main_area {
        padding: 80px 0;
    }
    .advocate_text_area h2 span {
        line-height: 1;
        letter-spacing: 3.6px;
    }
    .nft_purchase_card {
        max-width: 320px;
        width: 100%;
        padding: 20px;
    }
    .crypto_box {
        margin-top: 16px;
        padding: 5px 5px;
        gap: 5px;
     }
     .purchase_amount input {
        font-size: 16px;
        width: 90px;
    }
    .purchase_amount p {
        font-size: 16px;
        width: 110px;
    }
    .purchase_amount {
        border-radius: 35px;
        height: 50px;
        padding: 14px 20px;
    }
    .purchase_address button {
        border-radius: 24px;
        font-size: 15px;
        padding: 14px 40px;
        margin: 30px 0px;
    }
    .business_main_area {
        padding: 80px 0;
    }
    .business_text p {
        margin: 24px 0px 24px;
    }
    .carousel__slide {
        width: 320px;
        height: 230px;
        padding: 0px 0px;
        top: 40px;
        left: -115px;
    }
    .carousel__next {
        top: 335px;
        right: -125px;
    }
    .carousel__prev {
        top: 335px;
        right: 50%;
    }
    .hero_images {
        height: 300px;
    }
    .tab_images {
        height: 325px;
    }
    .tab button {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 10px;
    }
}