/* ==============
using font family for this website

font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Circular Std';
font-family: 'Source Sans Pro';
font-family: 'Segoe UI';


============== */


/* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
body{
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  font-weight: 400;

}
.title_1 {
	color: #333;
	text-align: center;
	font-family: Sen;
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 72px;
}


/* start header area css */
.menu {
	padding: 27px 0;
}

.menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu ul li a {
	color: #1F2937;
	font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.5px;
	display: inline-block;
	margin: 0 32px 0 32px;
}
.logo img {
	max-width: 180px;
	width: 100%;
}
.logo img {
	max-width: 180px;
	width: 100%;
}
.hero_log img {
	max-width: 180px;
}

/* start hero area */
.hero_main_area {
	padding: 120px 0;
}
.hero_text p {
	color: #000;
	font-family: Source Sans Pro;
	font-size: 21.138px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.7%;
	letter-spacing: -0.634px;
	max-width: 525px;
	width: 100%;
	margin-bottom: 60px;
}
.hero_text h1 {
	color: #000;
	font-family: Poppins;
	font-size: 60.771px;
	font-style: normal;
	font-weight: 700;
	line-height: 117.7%;
  padding: 16px 0px;
}
.hero_text h1 span {
	background: var(--Linear, linear-gradient(90deg, #6053D9 0%, #9857BD 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  display: block;
}
.hero_button a {
	color: #FFF;
	font-family: Source Sans Pro;
	font-size: 19.817px;
	font-style: normal;
	font-weight: 700;
	line-height: 158.7%;
	letter-spacing: -0.594px;
	display: inline-block;
	border-radius: 52.844px;
	background: #000;
	padding: 16px 32px 18px;
}

.hero_images{
  position: relative;
}
.hero_content_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.hero_images {
	position: relative;
}
.hero_images img {
	max-width: 800px;
}

/* Start entrend access main area */
.entrend_content_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.left_entrend_access_items {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	background: #6D79FF;
}
.right_entrend_acess {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	background: #515FFF;
}


/* Style the tab content */
.tabcontent {
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
  to {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
@keyframes fadeEffect {
  from {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
  to {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
.tab button {
	color: #FFF;
	font-family: Sen;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
	background: transparent;
	border: none;
  text-align: left;
  width: 100%;
  display: block;
  padding: 24px 64px; 
  margin-top: 64px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.tab_items_area .tab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 505px;
	width: 100%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: auto;
	padding: 213px 0 323px;
}
.tab button.tablinks.active{
  border-radius: 56px;
  background: #515FFF;
 
}
.tab_images {
	max-width: 775px;
	margin: auto;
	padding: 91px 0 45px;
}
.tab_txt p {
	color: #FFF;
	text-align: center;
	font-family: Segoe UI;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	border-radius: 80px;
	background: #6D79FF;
	max-width: 580px;
	margin: auto;
	width: 100%;
	padding: 24px 33px;
}
.tab_txt p span{
  display: block;
}
.entrend_access_main_area {
	padding-top: 100px;
}
/* about_entrend_main_area  */
.about_entrend_main_area {
	padding: 120px 0 145px;
	background: #F8F6FE;
}
.section_heading p {
	color: #333;
	text-align: center;
	font-family: Sen;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
  padding-top: 24px;
}
.section_heading p span{
  display: block;
}
.about_entrend_video {
	max-width: 930px;
	width: 100%;
	margin: auto;
	padding-top: 70px;
}
.about_entrend_video iframe {
	height: 516px;
	width: 100%;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.20);
	-webkit-backdrop-filter: blur(14.261306762695312px);
	        backdrop-filter: blur(14.261306762695312px);
}
/* Start advocate_main_area css */
.down_arrow a img {
	width: 22.75px;
	height: 16.763px;
}
.advocate_main_area .container{
  padding: 0;
}
.nft_purchase_card {
	max-width: 765px;
	width: 100%;
	border-radius: 48px;
	border: 1px solid #273A38;
	background: -webkit-linear-gradient(291deg, #1F2D26 35.21%, #0B0F0E 111.91%);
	background: linear-gradient(159deg, #1F2D26 35.21%, #0B0F0E 111.91%);
	padding: 56px;
}
.nft_purchase_title h3 {
	color:  #CCE2E0;
	font-family: Inter;
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.nft_purchase_title h3 span{
	color: #90F36C;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}
.send_box p {
	color: #CCE2E0;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.send_box a  p{
	color: #87A4A0;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	display: inline-block;
}
.send_box a span {
	width: 22px;
	height: 22px;
	background: #142927;
	color: #90F36C;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 50%;
	padding: 2px 7px;
  margin-left: 8px;
}
.send_box a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.send_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.crypto_box button img {
	width: 13.25px;
	height: 15.057px;
}
.crypto_box button {
	border: none;
	color: #CCE2E0;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 40px;
	background: -webkit-linear-gradient(344deg, #0E2421 6%, rgba(29, 24, 24, 0.94) 122.1%, rgba(24, 62, 28, 0.94) 122.1%);
	background: linear-gradient(106deg, #0E2421 6%, rgba(29, 24, 24, 0.94) 122.1%, rgba(24, 62, 28, 0.94) 122.1%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 24px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 8px;
	width: 306px;
	height: 56px;
}
.crypto_box {
  margin-top: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 9px 16px;
	gap: 15px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	border-radius: 72px;
	background: -webkit-linear-gradient(358deg, #273A38 48.25%, #212825 71.54%);
	background: linear-gradient(92deg, #273A38 48.25%, #212825 71.54%);
}
.purchase_send_item {
	padding-top: 32px;
}
.down_arrow {
	text-align: center;
	padding: 24px 0;
}
.purchase_amount p {
	color: #CCE2E0;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  width: 360px;
}
.purchase_amount p span {
	color: #90F36C;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.purchase_amount input {
	color: #CCE2E0;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: transparent;
	border: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 138px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0px 10px;
}
.purchase_amount input::-webkit-input-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #CCE2E0;
}
.purchase_amount input::-moz-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #CCE2E0;
}
.purchase_amount input:-ms-input-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #CCE2E0;
}
.purchase_amount input::placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #CCE2E0;
}
.purchase_amount {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	border-radius: 40px;
	background: -webkit-linear-gradient(344deg, #0E2421 6%, rgba(29, 24, 24, 0.94) 122.1%, rgba(24, 62, 28, 0.94) 122.1%);
	background: linear-gradient(106deg, #0E2421 6%, rgba(29, 24, 24, 0.94) 122.1%, rgba(24, 62, 28, 0.94) 122.1%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 72px;
	padding: 22px 40px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.purchase_amount > span {
	color: #CCE2E0;
	text-align: right;
}
.purchase_address label {
	color: #CCE2E0;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  display: block;
  margin-bottom: 16px;
  text-align: left;
}
.purchase_address input {
	color: #4E6A59;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 40px;
	background: -webkit-linear-gradient(344deg, #0E2421 6%, rgba(29, 24, 24, 0.94) 122.1%, rgba(24, 62, 28, 0.94) 122.1%);
	background: linear-gradient(106deg, #0E2421 6%, rgba(29, 24, 24, 0.94) 122.1%, rgba(24, 62, 28, 0.94) 122.1%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 56px;
	padding: 20px 30px 17px 30px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: none;
}
.purchase_address input::-webkit-input-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.purchase_address input::-moz-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.purchase_address input:-ms-input-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.purchase_address input::placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.purchase_address {
	padding-top: 32px;
	text-align: center;
}
.purchase_address button {
	border-radius: 24px;
	border: 1px solid #D7FFE1;
	background: #90F36C;
	color: #274533;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 28px 99px;
  margin: 46px 0px;
}
.purchase_address p {
	color: #CCE2E0;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.advocate_content_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.col-md-12{
  padding: 0px;
}
.advocate_text_area h2 span {
	background: -webkit-linear-gradient(left, #6053D9 0%, #9857BD 100%);
	background: linear-gradient(90deg, #6053D9 0%, #9857BD 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Sen;
	font-style: normal;
	font-weight: 700;
	line-height: 72px;
	letter-spacing: 5.6px;
	text-transform: uppercase;
  display: block;
}
.advocate_text_area h2 {
	text-align: left;
	color: #180D5B;
}
.advocate_text_area p {
	color: #000;
	font-family: Sen;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-top: 24px;
}
.advocate_text_area p span {
	display: block;
}
.advocate_main_area {
	padding-top: 63px;
}
.advocate_text_area {
	margin-top: 99px;
}
/* start business area css */
.business_text h2{
  color: #180D5B;
  text-align: left;
}
.business_text h2 span {
	background: -webkit-linear-gradient(left, #6053D9 0%, #9857BD 100%);
	background: linear-gradient(90deg, #6053D9 0%, #9857BD 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
  display: block;
}
.business_text p {
	color: #000;
	font-family: Sen;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
  margin: 24px 0px 50px;
}
.business_text p span{
  display: block;
}
.business_left_images{
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.business_right_text{
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin-top: 50px;
}
.business_content_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.business_text a {
	color: #FFF;
	font-family: Source Sans Pro;
	font-size: 19.817px;
	font-style: normal;
	font-weight: 700;
	line-height: 158.7%;
	letter-spacing: -0.594px;
	border-radius: 52.844px;
	background: #000;
	display: inline-block;
	padding: 18px 32px;
}
.business_main_area {
	padding: 145px 0 270px;
}




/*******************************************/
/************** Why area css **************/
/*****************************************/


.single_why img {
	width: 100%;
	max-width: 317px;
	margin: 0 auto;
	text-align: center;
}

.single_why_info {
	margin-top: 28px;
}

.single_why_info h4 {
	color: #1F2937; 
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 16px;
}

.why_main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 80px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 56px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.single_why_info {
	margin-top: 28px;
	width: 100%;
	max-width: 314px;
}

.single_why {
	padding: 0 40px 56px 40px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 28.33%;
	        flex: 0 0 28.33%;
}

.section_padding {
	padding: 80px 0;
}

/*******************************************/
/************ levarage area css ***********/
/*****************************************/

.leverage_right, .levarage_left {
	background: url(../images/leverage/bg.png) no-repeat scroll center center / cover;
	padding: 80px 40px;
	border-radius: 30px;
}

.leverage_right p,
.levarage_left p {
	color: var(--White, #FFF);
	text-align: center; 
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	width: 100%;
	max-width: 397px;
	margin: 0 auto;
}

.leverage_main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 48px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 15px;
}



/*******************************************/
/************* Work area css **************/
/*****************************************/

.work_img{
	margin-top: 24px;
}

/*******************************************/
/************ Question area css ***********/
/*****************************************/

.question_main {
	width: 100%;
	max-width: 792px;
	margin: 0 auto;
	margin-top: 80px;
}
.accordion-item{
	border: none;
}

.accordion-button.collapsed:hover:focus:focus-visible {
	outline: none !important;
	box-shadow: none;
}

.accordion-button:focus {
	border: none !important;
	box-shadow: none !important;
	background: transparent !important; 
}

.accordion-button.collapsed {
	color: var(--Black, #333); 
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
}

.accordion-button:not(.collapsed) {
	color: #333;
	background-color: transparent; 
	font-size: 20px;
	font-weight: 700;
    border-bottom: 1px solid #eee !important;
}


/*******************************************/
/************** Footer area css **************/
/*****************************************/


.footer_main {
	margin: 55px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer_single h4 {
	color: var(--Black, #333); 
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
}

.footer_single p,
.footer_list li a {
	color: rgba(0, 0, 0, 0.60); 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-top: 20px;
	display: inline-block;
}

.footer_single p{
    display: block;
	margin-top: 5px;
}

.footer_single > a {
	border-radius: 16px;
	border: 2px solid var(--Purple, #7650F5);
	background: var(--Purple, #7650F5);
    /* width: 100%; */
	width: 404px;
	height: 60px;
	display: block;
	color: var(--White, #FFF); 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 45px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer_single > a:hover{
    opacity: 0.83;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=83)";
}

.copy_footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 31px 0;
}

.copy_footer p {
	color: rgba(0, 0, 0, 0.60);
	font-family: Circular Std;
	font-size: 15px;
	font-style: normal;
	font-weight: 450;
	line-height: 26px;
}







