/* ==============
using font family for this website

font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Circular Std';
font-family: 'Source Sans Pro';
font-family: 'Segoe UI';


============== */


/* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
body{
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  font-weight: 400;

}
.title_1 {
	color: #333;
	text-align: center;
	font-family: Sen;
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 72px;
}



/* start header area css */
.menu {
	padding: 27px 0;
}

.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu ul li a {
	color: #1F2937;
	font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.5px;
	display: inline-block;
	margin: 0 32px 0 32px;
}
.logo img {
	max-width: 180px;
	width: 100%;
}
.logo img {
	max-width: 180px;
	width: 100%;
}
.hero_log img {
	max-width: 180px;
}

/* start hero area */
.hero_main_area {
	padding: 120px 0;
}
.hero_text p {
	color: #000;
	font-family: Source Sans Pro;
	font-size: 20.138px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.7%;
	letter-spacing: -0.634px;
	max-width: 525px;
	width: 100%;
	margin-bottom: 60px;
}
.hero_text h1 {
	color: #000;
	font-family: Poppins;
	font-size: 60.771px;
	font-style: normal;
	font-weight: 700;
	line-height: 117.7%;
  padding: 16px 0px;
}
.hero_text h1 span {
	background: var(--Linear, linear-gradient(90deg, #6053D9 0%, #9857BD 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  display: block;
}
.hero_button a {
	color: #FFF;
	font-family: Source Sans Pro;
	font-size: 19.817px;
	font-style: normal;
	font-weight: 700;
	line-height: 158.7%;
	letter-spacing: -0.594px;
	display: inline-block;
	border-radius: 52.844px;
	background: #000;
	padding: 16px 32px 18px;
}

.hero_images{
  position: relative;
}
.hero_content_area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero_images {
	position: relative;
	right: -50px;
}
.hero_images img {
	max-width: 800px;
}

/* Start entrend access main area */
.entrend_content_area {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.left_entrend_access_items {
	flex: 0 0 50%;
	background: #6D79FF;
}
.right_entrend_acess {
	flex: 0 0 50%;
	background: #515FFF;
}


/* Style the tab content */
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.tab button {
	color: #FFF;
	font-family: Sen;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
	background: transparent;
	border: none;
  text-align: left;
  width: 100%;
  display: block;
  padding: 24px 64px; 
  margin-top: 64px;
  opacity: 0.8;
}
.tab_items_area .tab {
	display: flex;
	max-width: 505px;
	width: 100%;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 213px 0 323px;
}
.tab button.tablinks.active{
  border-radius: 56px;
  background: #515FFF;
 
}
.tab_images {
	max-width: 775px;
	margin: auto;
	padding: 91px 0 45px;
}
.tab_txt p {
	color: #FFF;
	text-align: center;
	font-family: Segoe UI;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	border-radius: 80px;
	background: #6D79FF;
	max-width: 580px;
	margin: auto;
	width: 100%;
	padding: 24px 33px;
}
.tab_txt p span{
  display: block;
}
.entrend_access_main_area {
	padding-top: 100px;
}
/* about_entrend_main_area  */
.about_entrend_main_area {
	padding: 120px 0 145px;
}
.section_heading p {
	color: #333;
	text-align: center;
	font-family: Sen;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
  padding-top: 24px;
}
.section_heading p span{
  display: block;
}
.about_entrend_video {
	max-width: 930px;
	width: 100%;
	margin: auto;
	padding-top: 70px;
}
.about_entrend_video iframe {
	height: 516px;
	width: 100%;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(14.261306762695312px);
}





